/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* <-----------Home Page -----------> */

.homepage {
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
}

@media (max-width: 800px) {
    .homepage {
        width: 98%;
    }
}

@media (max-width: 500px) {
    .homepage {
        width: 100%;

    }
}

.nav-hm-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 0;
}

@media (max-width: 800px) {

    .nav-hm-container {
        align-items: center;
        padding-left: 40px;

    }

    .nav-hm-container a {
        font-size: 14px;

    }
}

@media (max-width: 500px) {

    .nav-hm-container {
        align-items: center;
        padding-left: 0;

    }

    .nav-hm-container a {
        font-size: 14px;

    }
}

@media (max-width: 500px) {

    .nav-hm-container {
        margin-top: 0px;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .nav-hm-container a {
        font-size: 14px;
        border-bottom: 1px solid black;
        padding: 20px 0;
        width: 100%;

    }
}


/* viewports greater than 800px toggle off the tablet logo */
@media (min-width: 800px) {
    .logo-tablet-container {
        display: none;
        text-align: center;
        margin-top: 20px;

    }
}

@media (max-width: 500px) {
    .logo-tablet-container {
        /* text-align: center; */
        border-bottom: 1px solid black;
        align-content: center;
        display: flex;
        height: 200p;
        ;

    }

    .logo-tablet {
        align-items: center;
        padding-bottom: 20px;

    }
}

/* viewports less than 800px toggle off the desktop logo and toggle on the tablet logo */

@media (max-width: 800px) {


    .logo-desktop {
        display: none;
    }

    .logo-tablet-container {
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .logo-tablet {
        margin-top: 20px;
        width: 22%;
    }
}

@media (max-width: 500px) {


    .logo-tablet-container {
        display: flex;
        justify-content: center;
        height: 75px;
    }

    .logo-tablet {
        width: 28%;
    }
}

.invitation>h1 {
    padding-top: 50px;
    font-size: 60px;
    line-height: 20px;
}

@media (max-width: 800px) {
    .invitation>h1 {
        padding-top: 20px;
        font-size: 65px;
        line-height: 25px;

    }
}

@media (max-width: 800px) {
    #tablet-size-headline {
        font-size: 65px;
    }
}

@media (max-width: 500px) {

    .banner-container {
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: space-around;
    }

    .invitation>h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 65px;
        line-height: 25px;


    }
}

@media (max-width: 500px) {
    #tablet-size-headline {
        font-size: 65px;
    }
}

#get-started {
    font-size: 16px;
    margin-top: -30px;
    border-radius: 0;
    background-color: white;
}

@media (max-width: 800px) {
    #get-started {
        font-size: 15px;
        padding: 5px 40px;

    }
}

@media (max-width: 500px) {
    #get-started {
        font-size: 15px;
        margin-top: 10px;
        padding: 5px 40px;

    }
}

.banner-container {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}

@media (max-width: 800px) {
    .banner-container {
        justify-content: center;

    }
}

.invitation {
    width: 48%;
}


.header-img {
    width: 48%;
}

@media (max-width: 800px) {

    .header-img {
        display: none;
    }
}

.header-code-img {
    width: 90%;
    height: auto;
}

@media (max-width: 800px) {
    .header-code-img {
        display: none;
    }
}

/* main section */

@media (max-width: 500px) {
    section {
        margin: 0 20px;
    }
}

.middle-img {
    width: 100%;
}

.hm-container1 {
    display: flex;
    justify-items: space-between;
    margin: 40px 0;
}

@media (max-width: 500px) {
    .hm-container1 {

        flex-direction: column;
    }
}

.about {
    padding-left: 20px;
}

@media (max-width: 500px) {
    .about {
        padding-left: 0;

    }

    .features {
        margin: -20px 0 20px 0;
    }
}

.hm-container2 {
    display: flex;
    justify-items: space-between;
    margin: 40px 0;

}

@media (max-width: 500px) {
    .hm-container2 {
        flex-direction: column;
    }
}

.infoText2 {
    padding-left: 20px;

}

@media (max-width: 500px) {
    .infoText2 {
        padding-left: 0;
    }
}

@media (max-width: 500px) {
    .product {
        margin: 20px 0;
    }

    .vision {
        margin-bottom: -20px;
    }
}

.hm-footer {
    margin-top: 40px;
}

@media (max-width: 500px) {
    footer {
        margin: 0 20px;
    }
}

.hm-copyright {
    display: block;
    text-align: center;
    margin: 60px 0;
}



/* <----------Services Home Page ---------> */
main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 25px;
}

/* nav */
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav {
    height: 50px;

}

nav a {
    text-decoration: none;
    color: gray;
}

/*header*/


.container2 {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 40px;
}

.services-header-img {
    width: 100%;
    margin: 30px 0;
}

/*main body of information items*/

.container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;

}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* overflow: hidden; */

}

section {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
}


.section-item {
    width: 48%;
    border: 1px solid black;
    background-color: #f2f4f7;
    margin: 20px 0;
    /* height: 275px; */
    height: auto;
    padding: 20px;
}

button {
    font-size: .7em;
    padding: 10px 35px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid black;

}


/*footer*/

.container5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 350px
}

.container6 {
    padding-right: 40px;
}

.footer-item {
    width: 48%;
    padding-top: 40px;

}

#list {
    margin-left: 20px;
}

.footer-item ul {
    list-style: square;
    line-height: 35px;

}

.services-info-img {
    max-width: 100%;
    /* height: 275px; */
    height: auto;
}

#copywright {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}